@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/inter');

:root {
    --bg-linear: linear-gradient(140deg, rgba(22, 27, 88, 1) 0%, rgba(7, 19, 159, 1) 100%);

    --primary-color: #131964;
    --secondary-color: #F6F2EF;
    --third-color: #C9CDFF;

    --primary-font: 'Satoshi', sans-serif;
    --secondary-font: 'Inter', sans-serif;

    --primary-font-size: 1.5rem;
    --secondary-font-size: 2rem;
    --third-font-size: 4rem;
    --fourth-font-size: 2.5rem;

    --skills-color-1: #FFB571;
    --skills-color-2: #FF7C7C;
    --skills-color-3: #E8FF8D;
}

html,
body {
    margin: 0;
    padding: 0;
    background: none;
    font-family: var(--primary-font);
    scroll-behavior: smooth !important;
    width: 100%;
    height: 100%;
    gap: 0;
    overflow-x: hidden;
}

nav {
    background-color: none;
    /* color: var(--secondary-color); */
    display: flex;
    justify-content: space-between;
    font-size: var(--primary-font-size);
    font-weight: medium;
    align-items: center;
    padding: 10px;
    height: 60px;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 2000;
}

.menu a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: lighter;
}

.menu a:hover {
    color: var(--third-color);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 60px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 16px;
    border: 1.5px solid var(--secondary-color);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    list-style: none;
}

.logo img {
    transform: scale(0.5);
}

.home-container {
    width: 100%;
    height: 785px;
    background: var(--bg-linear);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: -90px;
    color: var(--secondary-color);
}

.hello {
    font-size: var(--fourth-font-size);
    font-weight: medium;
}

.name {
    font-size: var(--third-font-size);
    font-weight: bold;
    margin-top: -25px;
}

.desc {
    font-size: var(--secondary-font-size);
    font-weight: lighter;
    margin-top: -25px;
}

.photo {
    margin-top: 75px;
    transform: scale(0.6);
    animation-name: photo;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes photo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
}

.social img {
    transform: scale(0.6);
}

.social button {
    /* background-color: var(--third-color); */
    border-color: 1.5px solid var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    font-size: var(--primary-font-size);
    /* margin-left: 30px; */
}

.social button:hover {
    background-color: var(--third-color);
}

/* END OF HOME-CONTAINER */

.about-container {
    width: 100%;
    height: auto;
    padding-bottom: 35px;
    background-color: var(--secondary-color);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.page-title {
    margin: 0;
    padding: 0;
}

.title1 {
    font-size: var(--third-font-size);
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
}

.about-desc {
    display: block;
    /* background-color: var(--third-color); */
    font-size: var(--primary-font-size);
    font-weight: lighter;
    width: 900px;
    text-align: justify;
    color: var(--primary-color);
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.company {
    font-size: var(--primary-font-size);
    font-weight: bold;
    color: var(--primary-color);
}

.exp-duration {
    margin-top: -20px;
    font-size: calc(var(--primary-font-size) - 6px);
    font-weight: lighter;
    color: var(--primary-color);
}

.experience-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    gap: 10px;
    font-size: calc(var(--primary-font-size) - 5px);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

.position {
    font-size: var(--primary-font-size);
    font-weight: bold;
    color: var(--primary-color);
}

/* END OF ABOUT-CONTAINER */

.skills-container {
    width: 100%;
    height: 100vh;
    background: var(--bg-linear);
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.skills-card {
    /* background-color: #E8FF8D; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 15px;
    margin-left: 90px;
    margin-right: 90px;

}

.skills-card p {
    font-size: var(--secondary-font-size);
    font-weight: medium;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--skills-color-1);
}

.skills-card p:hover {
    background-color: var(--third-color);
    cursor: pointer;
}


/* END OF SKILLS-CONTAINER */

.projects-container {
    /* width: 100%; */
    height: 100vh;
    background-color: var(--secondary-color);
    padding-top: 30px;
}

.projects-subtitle {
    display: block;
    margin-bottom: 30px;
    font-size: var(--primary-font-size);
    font-weight: lighter;
    text-align: center;
    color: var(--primary-color);
}


.swiper {
    background: linear-gradient(20deg, var(--primary-color) 40%, #0c04af 100%);
    color: var(--secondary-color);
    width: 850px;
    height: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.swiper-slide {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 25px;
}

.projects-title {
    font-size: var(--fourth-font-size);
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    padding: 10px;
}

.projects-desc {
    font-size: calc(var(--primary-font-size) - 5px);
    font-weight: lighter;
    margin-top: 15px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 25px;
    text-align: justify;
    color: var(--secondary-color);
}

.tech-used {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-used p {
    font-weight: lighter;
    padding: 5px;
    text-align: left;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.swiper-slide button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 150px;
    /* margin-top: 10px;
    margin-bottom: 30px; */
}

.swiper-slide button:hover {
    background-color: var(--third-color);
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--secondary-color);
}


/* END OF PROJECTS-CONTAINER */

.contact-container {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    padding-top: 30px;
}

.title2 {
    font-size: var(--third-font-size);
    font-weight: bold;
    /* margin-top: 100px; */
    text-align: center;
    color: var(--secondary-color);
}

.contact-desc {
    display: block;
    /* background-color: var(--third-color); */
    font-size: var(--secondary-font-size);
    font-weight: lighter;
    margin-top: 5px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    color: var(--secondary-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 55px;
}

.contact-form p {
    font-weight: bold;
    color: var(--secondary-color);
    font-size: var(--primary-font-size);
    margin-top: 20px;
    margin-bottom: 5px;
}

input,
textarea {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

textarea {
    height: 100px;
}

.contact-form button {
    background-color: var(--secondary-color);
    font-size: calc(var(--primary-font-size) - 2px);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    width: auto;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.contact-form button:hover {
    background-color: var(--third-color);
    cursor: pointer;
}


/* END OF CONTACT-CONTAINER */

.footer {
    /* position: fixed; */
    width: 100%;
    height: 50px;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    font-size: calc(var(--primary-font-size) - 5px);
    font-weight: lighter;
    color: var(--secondary-color);
    bottom: 0;
    overflow: hidden;
}

.footer p {
    color: var(--secondary-color);
    margin-top: 20px;
}

.footer img {
    width: 30px;
    height: 30px;
}


/* END OF FOOTER */



/* Tablet Landscape and smaller */
@media screen and (max-width: 1024px) {
    .home-container {
        height: 100vh;
        flex-direction: column-reverse;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hello {
        font-size: calc(var(--fourth-font-size) - 10px);
    }

    .name {
        font-size: calc(var(--third-font-size) - 20px);
    }

    .desc {
        font-size: calc(var(--secondary-font-size) - 10px);
    }

    .photo {
        transform: scale(0.1);
    }

    .about-desc,
    .contact-desc {
        margin-left: 20px;
        margin-right: 20px;
    }

    .skills-card {
        margin-right: 50px;
        margin-left: 50px;
    }
}


/* Tablet Portrait and smaller */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 0px 0;
    }

    .home-container {
        height: auto;
        padding: 20px 10px;
        flex-direction: column-reverse;
    }

    .logo {
        display: none;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
        padding: 10px 0;
    }

    .home-container {
        height: auto;
        margin-top: -25px;
    }

    .hello,
    .name,
    .desc {
        text-align: center;
    }

    .photo {
        margin-top: 20px;
        transform: scale(0.2);
    }

    .skills-card {
        margin: 20px;
        gap: 10px;
    }

    .swiper {
        height: 550px;
        width: 550px;
    }
}

/* Mobile Landscape and smaller */
@media screen and (max-width: 480px) {
    .home-container {
        height: 100vh;
        padding: 20px 10px;
        margin-top: -10;
        display: flex;
        flex-direction: column-reverse;
    }

    .about-container {
        height: auto;
        margin-bottom: 10px;
        padding-top: 50px;
    }


    .projects-container,
    .skills-container,
    .contact-container {
        height: 100vh;
        padding-top: 50px;
    }

    .home.left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .social {
        justify-content: center;
        align-items: center;
    }

    .hello {
        font-size: calc(var(--fourth-font-size) - 20px);
    }

    .name {
        font-size: calc(var(--third-font-size) - 30px);
    }

    .desc {
        font-size: calc(var(--secondary-font-size) - 15px);
    }

    .photo {
        transform: scale(0.5);
    }

    .about-desc,
    .contact-desc {
        margin-left: 10px;
        margin-right: 10px;
    }

    .skills-card p {
        font-size: calc(var(--primary-font-size) - 5px);
        gap: 1px;
    }

    .skills-color {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1px;
    }

    .data-analytics,
    .graphic-design,
    .software-dev {
        font-size: calc(var(--primary-font-size) - 5px);
    }

    .title1,
    .title2 {
        font-size: calc(var(--third-font-size) - 20px);
    }

    .about-desc,
    .contact-desc {
        font-size: calc(var(--primary-font-size) - 5px);
    }

    .swiper {
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 550px;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }

    .projects-title {
        font-size: calc(var(--fourth-font-size) - 20px);
        width: 300px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;

    }

    .projects-subtitle {
        font-size: calc(var(--primary-font-size) - 30px);
    }
}

@media screen and (max-width: 420px) {
    .home-container {
        height: 100vh;
        padding: 20px 10px;
        margin-top: -10;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about-container {
        height: auto;
        margin-bottom: 10px;
        padding-top: 50px;
    }

    .projects-container,
    .skills-container,
    .contact-container {
        height: 100vh;
        padding-top: 50px;
    }

    .home.left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 10px;
    }

    .hello {
        font-size: calc(var(--fourth-font-size) - 15px);
    }

    .name {
        font-size: calc(var(--third-font-size) - 30px);
    }

    .desc {
        font-size: calc(var(--secondary-font-size) - 15px);
    }

    .photo {
        transform: scale(0.2);
    }

    .about-desc,
    .contact-desc {
        margin-left: 10px;
        margin-right: 10px;
    }

    .skills-card p {
        font-size: calc(var(--primary-font-size) - 5px);
        gap: 1px;
    }

    .skills-color {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1px;
    }

    .data-analytics,
    .graphic-design,
    .software-dev {
        font-size: calc(var(--primary-font-size) - 5px);
    }

    .title1,
    .title2 {
        font-size: calc(var(--third-font-size) - 20px);
    }

    .about-desc,
    .contact-desc {
        font-size: calc(var(--primary-font-size) - 5px);
    }

    .swiper {
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 700px;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }

    .projects-title {
        font-size: calc(var(--fourth-font-size) - 20px);
        width: 280px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;

    }

    .projects-subtitle {
        font-size: calc(var(--primary-font-size) - 30px);
    }
}

/* Mobile Portrait and smaller */
@media screen and (max-width: 390px) {
    .home-container {
        height: 100vh;
        padding: 20px 10px;
        margin-top: -10;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about-container {
        height: auto;
        margin-bottom: 10px;
        padding-top: 50px;
    }

    .projects-container,
    .skills-container,
    .contact-container {
        height: 100vh;
        padding-top: 50px;
    }

    .home.left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hello {
        font-size: calc(var(--fourth-font-size) - 20px);
    }

    .name {
        font-size: calc(var(--third-font-size) - 30px);
    }

    .desc {
        font-size: calc(var(--secondary-font-size) - 15px);
    }

    .photo {
        display: contents;
    }

    .about-desc,
    .contact-desc {
        margin-left: 10px;
        margin-right: 10px;
    }

    .skills-card p {
        font-size: calc(var(--primary-font-size) - 5px);
        gap: 1px;
    }

    .skills-color {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--primary-font-size) - 25px);
    }

    .kotak1,
    .kotak2,
    .kotak3 {
        width: 10px;
        height: 10px;
    }

    .skills-color p {
        font-size: calc(var(--primary-font-size) - 5px);
    }

    .title1,
    .title2 {
        font-size: calc(var(--third-font-size) - 20px);
    }

    .about-desc,
    .contact-desc {
        font-size: calc(var(--primary-font-size) - 5px);
    }

    .swiper {
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 580px;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }

    .projects-title {
        font-size: calc(var(--fourth-font-size) - 20px);
        width: 260px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;

    }

    .projects-subtitle {
        font-size: calc(var(--primary-font-size) - 30px);
    }

    .projects-desc {
        font-size: calc(var(--primary-font-size) - 8px);
    }
}